<header>
  <a href="{{ site.baseurl }}/">
    <img
      src="{{ site.baseurl }}/assets/img/python.svg"
      height="24"
      width="24"
    />
    <h1>{{ site.title }}</h1>
  </a>
  <div class="downloads">
    <a href="{{ site.baseurl }}/downloads">Downloads</a>
    <div id="astro">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div></div>
    </div>
  </div>
</header>
