<!DOCTYPE html>
<html lang="pt-br">

{% assign page_title = page.title | append: " | " | append: site.title %}
{% assign page_description = site.description %}

<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#e0138c" />

    <title>{{ page_title }}</title>

    <meta name="title" property="og:title" content="{{ page_title | escape }}" />
    <meta name="description" property="og:description" content="{{ page_description | escape }}" />
    <meta name="image" property="og:image" itemprop="image" content="{{ site.thumbnail | escape }}" />
    
    <meta name="type" property="og:type" content="website" />
    <meta name="url" property="og:url" content="{{ site.url | escape }}" />
    <meta name="site_name" property="og:site_name" content="{{ page_title | escape }}" />
    <meta name="locale" property="og:locale" content="pt_BR" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ site.url | escape }}" />
    <meta name="twitter:title" content="{{ page_title | escape }}" />
    <meta name="twitter:description" content="{{ page_description | escape }}" />
    <meta name="twitter:image" content="{{ site.thumbnail | escape }}" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link id="prismsheet" rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/prism.css" />
</head>